<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Empleados</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
   <div id="AppProdAlmacen"></div>
   <!--- <script src="{% static 'frontend/main.js' %}"></script> -->
   <div id="Nom_Empleado">
      Victor Roa López
   </div>
   <div id="Datos_Prod">
      <img class=ImagenTarjeta src="/home/juan_ubuntu/Documentos/Python_BEDU/Clase14/ProdAlmacen/Imagenes/1.png"></img>
      <div>
         1-Oct-19 : 2000 <p>
         2-Oct-19 : 890<p>
         1-Oct-19 : 2000 <p>
         2-Oct-19 : 890<p>
         1-Oct-19 : 2000 <p>
         2-Oct-19 : 890<p>
         1-Oct-19 : 2000 <p>
         2-Oct-19 : 890<p>
      </div>
   </div>
   <div id="Grafico">
      <div style="width: 100; height: 100;">
         {{ grafica_en_div | safe}}
      </div>
   </div>
</body>

</html>